<header>VENU</header>
<div id="intro">Who do you want to see?</div>

<div id="search-artist" class="input-append">
  <input id="appendedInputButton" class= "form-search" size="200" placeholder="ex. Toro Y Moi" type="text">

  <button id="submit" class="btn btn-success" type="button"  onClick="javascript:getData()"><img src='/assets/search.png'>GO</button>

</div>

<h3 id="artist-name"></h3>
<ul id="shows">
</ul>

<footer>
  <ul>
    <li>© 2012 koutani |</li>
    <li>about |</li>
    <li>contact</li>
  </ul>
</footer>