<h1>VENU</h1>
<h2>Who do you want to see?</h2>

<div id="search-artist">
  <input type="text" placeholder="ex. Toro Y Moi,"> </input>
  <button id="submit" onClick="javascript:getData()">GO</button>
</div>

<h3 id="artist-name"></h3>
<ul id="shows">
</ul>