// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(/assets/background.jpg);
  font-family: helvetica;
  text-align: center;
}

header{
  text-shadow: 2px 2px 0 white;
  font-size: 200px;
  line-height: 200px;
  padding: 5px;
  font-weight: bold;
}

#artist-name {
  font-size: 24px;
  margin: 10px;
}

#intro{
  text-shadow: 1px 1px 0 white;
  font-size: 80px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

#search-artist{
  padding: 20px;
}


#shows li{
  list-style-type: none;
  font-size: 20px;
  line-height: 30px;
}