// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(/assets/background.jpg);
  font-family: helvetica;
  text-align: center;
  min-width: 990px;
}

header{
  text-shadow: 2px 2px 0 white;
  font-size: 200px;
  line-height: 200px;
  padding: 20px;
  font-weight: bold;
}



#intro{
  text-shadow: 1px 1px 0 white;
  font-size: 80px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
}

#search-artist{
  padding-top: 60px;
}

input.form-search{
  width:700px;
  height: 55px;
  font-size: 24px;
  line-height: 24px;
  padding: 10px;
}

#submit{
  height: 75px;
  width:120px;
  font-size: 24px;
  line-height: 24px;
}

#submit img{
  width:35%;
  margin-left: -5px;
}

#artist-name {
  font-size: 24px;
  margin: 30px;
}

#shows{
  text-align: left;
	width: 960px;
	margin: auto;
}

#shows li{
  list-style-type: none;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.cancelled{
	color: red;
}